.collection-page {
  padding: 40px 60px;
  background-color: #000;
  color: white;
  min-height: 100vh;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.top-left-side h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.top-left-side p {
  font-size: 14px;
  color: #c0c0c0;
}