.header {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.brand {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -.02em;
}

.brand span {
  color: var(--emerald-400)
}

.nav-links {
  font: public-sans, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.nav-link {
  color: rgba(255, 255, 255, .8);
  text-decoration: none
}

.nav-links:hover {
  color: var(--emerald-400)
}

.btn {
  font: inherit;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.button{
  font: public-sans, sans-serif;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.bi-bi-wallet2 {
  display: none;
  background: transparent;
  color: #fff;
  font-size: 1.25rem
}