.header {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.brand {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -.02em;
}

.brand span {
  color: var(--emerald-400)
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 1rem 7rem 1rem 1rem;
  font-family: "Quicksand", sans-serif;
}

.nav-links {
  font: public-sans, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}


.nav-link {
  color: rgba(255, 255, 255, .8);
  text-decoration: none
}

.nav-link-btn {
  border: none;
  background:none;
  color: rgba(255, 255, 255, .8);
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

.nav-wallet {
  font-weight: bold;
  color: #008564;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #008564;
}

.nav-item-dropdown a {
  color: white;
  font-size: 1rem;
  opacity: 0.9;
  transition: opacity 0.2s ease;
}


.nav-links:hover {
  color: var(--emerald-400)
}

.btn {
  font: inherit;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.button {
  font: public-sans, sans-serif;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.nav-wallet:hover {
  background-color: #008564;
  /* text-decoration: none; */
  transition: 0.4s ease;
  color: white;
}

.dropdown-button {
  background: none;
  border: none !important;
  outline: none !important;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  box-shadow: none !important;
}

.bi-bi-wallet2 {
  display: none;
  background: transparent;
  color: #fff;
  font-size: 1.25rem
}